.buyer-navbar{
    background-color: blueviolet;
    color: rgb(253, 253, 253);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}
.buyers-sidebar{
    width: 20%;
}

.buyers{
    display: flex;
    margin-top: 0%;
}
.buyer-cards{
    width: 70%;
    height: auto;
    display: flex;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}