.buyer-sidebar {
    width: 80%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    overflow: auto;
  }
  
  .buyer-sidebar ul {
    margin: 5%;
    padding: 0;
  }
  
  .buyer-sidebar-link {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  .buyer-sidebar-link:hover {
    background-color: #ddd;
    color: black;
  }
  
  .buyer-side{
    display: flex;
    align-items: center;
  }

  .buyer-sidebar-icon{
    margin-right: 5%;
  }