.buyer-sidebar {
    background-color: #008cdd;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    overflow: auto;
    /* position: fixed; */
    height: 250%;
    width: 100%;
  }
  
  .buyer-list {
    margin: 5%;
    padding: 0;
  }
  
  .buyer-sidebar-link {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
  
  .buyer-sidebar-link:hover {
    background-color: #ddd;
    width: auto;
    color: black;
  }
  
  .buyer-side{
    display: flex;
    align-items: center;
    margin-left: 5%;
  }

  .buyer-sidebar-icon{
    margin-right: 5%;
  }